@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.upload{
  width: auto;
  &__heading{
    color: $primary-color-black;
  }
  img{
    width: 100%;
    border-radius: 4px;
    @include desktop{
    }
  }
}
.upload__title{
  color: $primary-color-silver;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.upload__description{
  color: $primary-color-silver;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.upload__form{
  width: 100%;
  @include desktop{
    width: 100%;
  }
}
.upload__heading{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.upload__textone{
  width: 100%;
  color:$primary-color-black;
}
.upload__texttwo{
  width: 100%;
  
}
.upload__headingtwo{
  color: $primary-color-silver;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hr{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.upload__button {
  display: flex;
 width: 100%;
 flex-direction: column;
  padding-top: 25px;
  
@include tablet{
  flex-direction: row-reverse;
  width: 100px;
  margin-left: auto;
}
@include desktop{
  flex-direction: row-reverse;
  width: 100px;
  margin-left: auto;
}
}


.upload__buttonone {
  justify-content: center;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  width: auto;
  height: 40px;
  margin: 1.55em 0;
  background-image: url("../../assets/icons/upload.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 1rem;

  @include label-button;
  background-color: $primary-color-blue;
  color: $primary-color-white;
  border: none;
  border-radius: 4px;

  @include tablet {
    
    width: 100%;
    padding: 0 32px;
    margin: 0 1.72em;
    @include dt-label-buttons;
  }

  @include desktop {
    margin-right: 3em;
  }
 }

.upload__buttontwo {
  background-color: $primary-color-white;
  color: $primary-color-blue;
  @include label-button;
  border: none;
  border-radius: 4px;

  @include tablet {
    width: 100%;
    padding: 0 32px;
    margin: 0 1.72em;
    @include dt-label-buttons;
  }

  @include desktop {
    margin-right: 3em;
  }
}