@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.upload__image {
  background-image: url(../../assets/Images/Upload-video-preview.jpg);
  width: 100%;
  height: 100px;

}

.upload__title {
  color: $primary-color-silver;
}

.upload__headingtwo {
  color: $primary-color-silver;
}

.upload__description {
  color: $primary-color-silver;
}

.upload__button {
  display: flex;
  flex-direction: column;
}

.upload__buttonone {
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  width: auto;
  height: 40px;
  margin: 1.55em 0;
  background-image: url("../../assets/icons/upload.svg");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 1rem;

  @include label-button;
  background-color: $primary-color-blue;
  color: $primary-color-white;
  border: none;
  border-radius: 4px;

  @include tablet {
    width: 150px;
    padding: 0 32px;
    margin: 0 1.72em;
    @include dt-label-buttons;
  }

  @include desktop {
    margin-right: 3em;
  }
}

.upload__buttontwo {
  background-color: $primary-color-white;
  color: $primary-color-blue;
  @include label-button;
  border: none;
  border-radius: 4px;

  @include tablet {
    width: 150px;
    padding: 0 32px;
    margin: 0 1.72em;
    @include dt-label-buttons;
  }

  @include desktop {
    margin-right: 3em;
  }
}