@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-main{
  background-color: $secondary-color-darkBlack;
  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop{
    padding: 0 13.125rem;
  }
}
.video-main__link{
  width: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-position: center;
  object-fit: cover;
  margin: auto;
}